.advert {
  position: relative;
  width: 100%;
  background: #43464b;
  display: flex;
  justify-content: flex-end;
  @include respond(iphonex) {
    justify-content: center;
  }
  line-height: 2.2;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  height: 3rem;
  a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Lato', sans-serif;

    color: #f5f5f5;
    @include respond(galaxy5) {
      margin-right: auto;
    }
  }
  a:nth-child(2) {
    padding-left: 0.8rem;
    @include respond(iphone4) {
      margin-right: 2.3rem;
    }
  }
  a:hover {
    color: #2277ff;
    text-decoration: underline;
    text-decoration-color: #f5f5f5;
  }
  .prefixCode {
    display: inline;
    // media bellow fixes the error occured while using device range from 322px up to 333px;
    @media (min-width: 322px) and (max-width: 333px) {
      display: none;
    }
    @include respond(iphone4) {
      display: none;
    }
  }
}
.advert__phone__email {
  @media (min-width: 376px) {
    padding-right: 1.7rem;
  }
}
//376px;
