/*---------------Burger menu (Navbar)------------------*/

.burgerMenu {
  margin: 28px 0px 0px 0px;
  display: none;
  ul {
    height: 256px;
    width: 18.9rem;
    position: absolute;
    right: 0;
  }
  li {
    list-style-type: none;
  }
  a {
    display: flex;
    padding: 8px;
    border: 1px solid white;
    width: 17rem;
    height: 1.5rem;
    justify-content: flex-end;
    font-size: 1.6rem;
    line-height: 10px;
    background: #110a6b;
    text-decoration: none;
    color: white;
  }
}
.burgerMenu--display {
  display: block;
}
