.main {
	border: 0.1rem solid black;
	background: #b0b2b7;
	// #add8e6
}
// .form_pic {
// 	// background-image: url(../../../../build/images/small-images/mailbox.jpg);
// 	// width: 360px;
// }
.contact-form {
	margin-top: 9rem;
	margin-bottom: 9.6rem;
	background: white;
	border: 1px solid green;
	height: 30rem;
	// background-image: url('');
}
.getintouch {
	color: green;
	font-size: 2rem;
}
